/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-height and full-width for the body and html */
body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevents scrollbars */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/astrology-8756542_1920.png') no-repeat center center fixed;
    background-size: cover;
}

/* Container for the content */
.container {
    text-align: center;
    
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the text container */
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff; /* White text color */
}

p {
    font-size: 1.5rem;
    color: #ddd; /* Light grey text color */
    margin-bottom: 2rem; /* Spacing between paragraph and button */
}

/* Home button styles */
.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #e67e22;
}
