@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: rgb(5, 4, 3);;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}



.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  margin-left: 16rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}
.section__header1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}
.section__header2  {
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-left: 20rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}


.section__description {
  font-size: 1.1rem;
  color: var(--text-light);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

img {
  display: flex;
  width: 100%;
}



html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}




.product__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.product__card {
  position: relative;
  isolation: isolate;
  padding: 2rem;
}

.product__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: var(--extra-light);
  z-index: -1;
  transition: 0.3s;
}

.product__card:hover::before {
  height: 100%;
}

.product__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.product__card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
}

.product__card img {
  max-width: 275px;
  margin-inline: auto;
}

